<div class="main-header">
    <div class="app-name app-name--header"><i class="icon ion-asterisk"></i><span class="app-name__main">trovare</span></div>

    <div class="upload-form">
      <label class="btn btn--primary upload-form__label" for="file-upload">Load CSV</label>
      <input type="file" id="file-upload" on-read-file="$ctrl.fileLoaded(fileContent, fileName)" accept=".csv" class="upload-form__input" />
    </div>

    <div class="main-header__info">
      <i class="icon ion-information-circled"></i>{{ $ctrl.rows.length > 0 ? ('Showing ' + issueResultList.length + ' of ' + $ctrl.rows.length) : 'No issues found' }}
    </div>
    <div class="main-header__control-container main-header__control-container--gap-before" ng-hide="$ctrl.content == ''">
      <multi-select class="main-header__control" title="Columns" item-list="$ctrl.headers"></multi-select>
    </div>
    <div class="main-header__control-container" ng-hide="$ctrl.content == ''">
      <form class="form main-header__control">
        <div class="form__group">
          <input type="text" class="form__search" placeholder="Search"
                 ng-model="$ctrl.search" ng-model-options="{debounce: 500}" ng-class="{ 'form__search--is-active': $ctrl.search !== '' }" />
        </div>
      </form>
    </div>
    <div class="main-header__control-container main-header__control-container--right">
      <div class="main-header__control">
        <label class="switch switch--light">
          <input type="checkbox" class="switch__input" ng-model="$ctrl.autoLoad" ng-change="$ctrl.saveSettings()" />
          <i class="switch__icon"></i> <span class="switch__label">Auto load</span>
        </label>
      </div>
    </div>
</div>

<div class="main-container" auto-loader="$ctrl.autoLoadMore()">
  <div class="content-container">

    <div class="text-centered" ng-if="$ctrl.lastUpload !== false && $ctrl.content === ''">
      <a class="btn"
         ng-click="$ctrl.openLastUpload()">
        <i class="icon ion-refresh"></i>{{$ctrl.lastUpload.name}}
      </a>
    </div>

    <table class="table table--striped">
      <thead class="table__header">
      <tr>
        <th class="table__header-cell" ng-repeat="(columnKey,header) in $ctrl.headers track by columnKey" ng-show="header.active">
          <a class="table__link" ng-click="$ctrl.sortType = columnKey; $ctrl.sortReverse = !$ctrl.sortReverse; $ctrl.updateFilterName()" title="{{columnKey}}">
            {{::header.title}}
              <span ng-show="$ctrl.sortType == columnKey"
                    ng-class="{ 'ion-arrow-up-b': !$ctrl.sortReverse, 'ion-arrow-down-b': $ctrl.sortReverse }"
                    class="icon icon-right"></span>
          </a>

          <a ng-repeat="subHeader in header.subHeaders"
             ng-click="$ctrl.sortType = subHeader.key; $ctrl.sortReverse = !$ctrl.sortReverse; $ctrl.updateFilterName()"
             ng-class="{ 'table__field--sub-even': $even }"
             title="{{subHeader.key}}" class="table__link table__field table__field-sub">
            {{::subHeader.title}}
                <span ng-show="$ctrl.sortType == subHeader.key"
                      ng-class="{ 'ion-arrow-up-b': !$ctrl.sortReverse, 'ion-arrow-down-b': $ctrl.sortReverse }"
                      class="icon icon-right"></span>
          </a>
        </th>
      </tr>
      </thead>

      <tbody class="table__body">
      <tr ng-repeat="row in $ctrl.rows | multiSearch:$ctrl.search | orderBy:$ctrl.orderBy:$ctrl.sortReverse | orderBy:'pinned':true | limitTo: $ctrl.limitTo as issueResultList track by $index"
          class="table__body-row">

        <td ng-repeat="(headerHey, header) in $ctrl.headers track by $index" ng-show="header.active"
            ng-class="{ 'is-unbreakable': (header.singleLine) }" class="table__body-cell">
          <a ng-if="$index === 0"
             ng-class="{ 'ion-ios-star': row[header.key], 'favourite--is-active': row[header.key], 'ion-ios-star-outline': !row[header.key] }"
             ng-click="$ctrl.changeIssuePinStatus(row)"
             class="favourite"></a>

          <table-field row="row" key="header.key" val="row[header.key]" headers="$ctrl.headers" get-search-words="$ctrl.getSearchWords()" auto-copy="$index === 1" ng-if="$index > 0" />

          <table-field ng-repeat="subHeader in header.subHeaders"
                       row="row" key="subHeader.key" val="row[subHeader.key]" headers="$ctrl.headers" get-search-words="$ctrl.getSearchWords()"
                       class="table__field table__field-sub"
                       ng-class="{ 'table__field--sub-even': $even }" />
        </td>

      </tr>
      </tbody>
    </table>

    <div class="text-centered" ng-show="$ctrl.rows.length > $ctrl.limitTo && issueResultList.length === $ctrl.limitTo">
      <a class="btn btn--primary"
         ng-click="$ctrl.loadMore()">
        <i class="icon ion-refresh"></i>Load more
      </a>
    </div>
  </div>
</div>

