<div>
  <div class="container">
    <div class="alert alert-info">
      <input id="uploadButton"type="file" on-read-file="$ctrl.fileLoaded(fileContent)" accept=".csv" class="filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" />
      <p>{{ $ctrl.contentJson.length > 0 ? ('Showing ' + issueResultList.length + ' of ' + $ctrl.contentJson.length) : 'No issues found' }}</p>
    </div>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text"
                 class="form-control"
                 placeholder="Search"
                 ng-model="$ctrl.search"
                 ng-model-options="{debounce: 500}" />
        </div>
      </div>
    </form>
    <input type="text" name="id" id="id-issue-input">

    <button onclick="openIssue()">Open Issue</button>


    <multi-select title="Columns" item-list="$ctrl.headers" ng-hide="$ctrl.content == ''" />
  </div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th ng-repeat="header in $ctrl.headers track by $index" ng-show="header.active">
          <a href="#" ng-click="$ctrl.sortType = header.title; $ctrl.sortReverse = !$ctrl.sortReverse; $ctrl.updateFilterName()">
            {{header.title}}
            <span ng-show="$ctrl.sortType == header.title"
                  ng-class="{ 'fa-caret-up': !$ctrl.sortReverse, 'fa-caret-down': $ctrl.sortReverse }"
                  class="fa"></span>
          </a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="row in $ctrl.contentJson | multiSearch:$ctrl.search | orderBy:$ctrl.orderBy:$ctrl.sortReverse | limitTo: $ctrl.limitTo as issueResultList track by $index ">
        <td ng-repeat="(key,val) in row track by $index" ng-show="$ctrl.headers[key].active">
          <div ng-if="!$ctrl.headers[key].collapsable">
            {{val}}
          </div>
          <div ng-if="$ctrl.headers[key].collapsable">
            <collapsable-text text="val" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <a class="load-more" ng-click="$ctrl.loadMore()" ng-show="$ctrl.contentJson.length > $ctrl.limitTo && issueResultList.length === $ctrl.limitTo">Load more</a>

</div>
<script>
  function openIssue(){
    var idIssue=document.getElementById('id-issue-input').value;
    window.open('https://www.community.avaloq.com/community/iss/edit_view.cfm?issue_id=' + idIssue,"_blank");
  }

</script>