<div>
  <div class="alert alert-info">
    <input type="file" on-read-file="$ctrl.fileLoaded(fileContent)" />
    <p>Count Rows: {{ $ctrl.contentJson.length }}</p>
  </div>

  <form >
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Find!!!" ng-model="$ctrl.search" ng-model-options="{debounce: 500}" />
      </div>
    </div>
  </form>


<!--  <ul>
    <li ng-repeat="filter in $ctrl.filters">
      <strong>{{filter.name}}</strong>
      <ul>
        <li ng-repeat="filterItem in filter.items">
          {{filterItem.val}}
        </li>
      </ul>
    </li>
  </ul>-->

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th ng-repeat="header in $ctrl.headers track by $index">
          <a href="#" ng-click="$ctrl.sortType = header.title; $ctrl.sortReverse = !$ctrl.sortReverse; $ctrl.updateFilterName()">
            {{header.title}}
            <span ng-show="$ctrl.sortType == header.title"
                  ng-class="{ 'fa-caret-up': !$ctrl.sortReverse, 'fa-caret-down': $ctrl.sortReverse }"
                  class="fa"></span>
          </a>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="row in $ctrl.contentJson | multiSearch:$ctrl.search | orderBy:$ctrl.orderBy:$ctrl.sortReverse track by $index">
        <td ng-repeat="cell in row track by $index">
          {{cell}}
        </td>
      </tr>
    </tbody>
  </table>
</div><!-- /.container -->
