<div class="main-header">
    <div class="app-name"><i class="icon ion-ionic"></i><span class="main">trovare</span></div>
    <div class="upload-form">
      <label class="btn btn-primary" for="file-upload">Load CSV</label>
      <input type="file" id="file-upload" on-read-file="$ctrl.fileLoaded(fileContent)" accept=".csv" class="file" />
    </div>
    <div class="file-info">
      <i class="icon ion-information-circled"></i>{{ $ctrl.rows.length > 0 ? ('Showing ' + issueResultList.length + ' of ' + $ctrl.rows.length) : 'No issues found' }}
    </div>
    <div class="header-control-container gap-before" ng-hide="$ctrl.content == ''">
      <form class="form header-control">
        <div class="form-group">
          <input type="text" class="form-input search" placeholder="Search" ng-model="$ctrl.search" ng-model-options="{debounce: 500}" />
        </div>
      </form>
    </div>
    <div class="header-control-container" ng-hide="$ctrl.content == ''">
      <multi-select class="header-control" title="Columns" item-list="$ctrl.headers" ></multi-select>
    </div>
</div>

<div class="main-container" auto-loader="$ctrl.loadMore()">
  <div class="content-container">
    <table class="table table-striped">
      <thead class="table-headers">
      <tr>
        <th class="table-header" ng-repeat="(columnKey,header) in $ctrl.headers track by $index" ng-show="header.active">
          <a class="link" ng-click="$ctrl.sortType = columnKey; $ctrl.sortReverse = !$ctrl.sortReverse; $ctrl.updateFilterName()" title="{{columnKey}}">
            {{header.title}}
              <span ng-show="$ctrl.sortType == columnKey"
                    ng-class="{ 'ion-arrow-up-b': !$ctrl.sortReverse, 'ion-arrow-down-b': $ctrl.sortReverse }"
                    class="icon icon-right"></span>
          </a>
          <div class="header-filter-form">
            <form class="form" ng-submit="$ctrl.appendColumnnFilterToSearch(columnKey, header.filter); header.filter=''">
              <div class="form-group">
                <label class="form-label">Filter by {{header.title}}</label>
                <input type="text"
                       class="form-input"
                       placeholder="Filter this column"
                       ng-model="header.filter" />
              </div>
            </form>
          </div>
        </th>
      </tr>
      </thead>

      <tbody class="table-rows">
      <tr ng-repeat="row in $ctrl.rows | multiSearch:$ctrl.search | orderBy:$ctrl.orderBy:$ctrl.sortReverse | limitTo: $ctrl.limitTo as issueResultList track by $index ">
        <td ng-repeat="(key,val) in row track by $index" ng-show="$ctrl.headers[key].active"
            ng-class="{ 'no-break': ($ctrl.headers[key].singleLine) }">

          <div ng-if="!$ctrl.headers[key].collapsable && !row._trovare.extLinks[key] && !row._trovare.colorColumns[key]" ng-bind-html="val | highlighter: $ctrl.getSearchWords()"></div>

          <div ng-if="!$ctrl.headers[key].collapsable && row._trovare.extLinks[key]">
            <a class="link" ng-href="{{row._trovare.extLinks[key]}}" target="_blank" ng-bind-html="val | highlighter: $ctrl.getSearchWords()"></a>
          </div>

          <div ng-if="!$ctrl.headers[key].collapsable && row._trovare.colorColumns[key]">
            <span class="dot" ng-class="'dot-' + row._trovare.colorColumns[key]" title="{{row[key]}}"></span>
          </div>

          <div ng-if="$ctrl.headers[key].collapsable">
            <collapsable-text text="val" get-terms="$ctrl.getSearchWords()"></collapsable-text>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="text-centered">
      <a class="btn btn-primary" ng-click="$ctrl.loadMore()" ng-show="$ctrl.rows.length > $ctrl.limitTo && issueResultList.length === $ctrl.limitTo"><i class="icon ion-refresh"></i>Load more</a>
    </div>
  </div>
</div>

