/* ------------------------------------------------------------------------------------------
   COLORS > COLOR VARIABLES (for internal use only!)
   ------------------------------------------------------------------------------------------ */
$_yellow:          #ffeb3b;
$_green:           #8bc34a;
$_orange:          #ff9800;
$_blue:            #2196f3;
$_purple:          #9c27b0;
$_red:             #f44336;

$_darkgrey:        #333333;
$_grey:            #B4B4B4;
$_lightgrey:       #f8f5f0;
$_black:           #000000;
$_white:           #ffffff;



/* ------------------------------------------------------------------------------------------
   COLORS > GENERAL
   ------------------------------------------------------------------------------------------ */
/* PRIMARY COLOR */
$color-primary:           darken($_blue, 18);
$color-primary-lt:        lighten($color-primary, 3);
$color-primary-dk:        darken($color-primary, 3);
$color-primary-dkr:       darken($color-primary, 5);
$color-primary-dkst:      darken($color-primary, 10);

$color-primary-contrast:  $_white;


/* STATE */
$color-inactive:          $_grey;


/* ELEMENTS */
$color-border:            lighten($_grey, 20);

$color-text-info:         $color-inactive;
$color-text-light:        lighten($_darkgrey, 30);



/* ------------------------------------------------------------------------------------------
   COLORS > COMPONENTS
   ------------------------------------------------------------------------------------------ */
/* HIGHLIGHT */
$color-highlight-1:               $_yellow;
$color-highlight-2:               $_green;
$color-highlight-3:               $_orange;
$color-highlight-4:               $_blue;
$color-highlight-5:               $_purple;
$color-highlight-6:               $_red;


/* PRIORITY (DOTS) */
$color-priority-high:             $_red;
$color-priority-medium:           $_orange;
$color-priority-normal:           $_yellow;
$color-priority-low:              $_green;


/* CHECKBOX */
$color-checkbox-inactive:         $color-inactive;
$color-checkbox-active:           $color-primary;


/* MULTISELECT */
$color-multiselect-bg:            $_white;
$color-multiselect-item-hover:    $_lightgrey;


/* FAVOURITE */
$color-favourite-inactive:        $color-inactive;
$color-favourite-active:          $color-primary;


/* SWITCH (CHECKBOX) */
$color-switch-bg-active:          darken($_grey, 10);
$color-switch-bg-inactive:        $_grey;
$color-switch-fg-active:          $color-primary;
$color-switch-fg-inactive:        $_lightgrey;

$color-switch-light-bg-active:    lighten($color-primary, 40);
$color-switch-light-bg-inactive:  $_white;
$color-switch-light-fg-active:    $_white;
$color-switch-light-fg-inactive:  $_grey;


/* FORM */
$color-form-border:               $color-border;


/* TABLE */
$color-table-border:              $color-border;
$color-table-row-odd:             lighten($_grey, 28);
