/* ------------------------------------------------------------------------------------------
   FONT FAMILY
   ------------------------------------------------------------------------------------------ */
$font: 'Roboto', sans-serif;



/* ------------------------------------------------------------------------------------------
   FONT SIZE
   ------------------------------------------------------------------------------------------ */
$font-size-tiny:      0.6rem;
$font-size-small:     0.75rem;
$font-size:           0.85rem;
$font-size-xmedium:   1.10rem;
$font-size-medium:    1.50rem;



/* ------------------------------------------------------------------------------------------
   FONT WEIGHT
   ------------------------------------------------------------------------------------------ */
$font-weight-light:   300;
$font-weight:         400;
$font-weight-medium:  500;
$font-weight-bold:    700;