/* ------------------------------------------------------------------------------------------
   INPUT / BUTTONS
   ------------------------------------------------------------------------------------------ */
$ctrl-height:         32px;
$ctrl-height-large:   40px;

$btn-height:          $ctrl-height;
$input-height:        $ctrl-height;
$input-height-large:  $ctrl-height-large;



/* ------------------------------------------------------------------------------------------
   LAYOUT
   ------------------------------------------------------------------------------------------ */
$space-tiny:    5px;
$space-small:  10px;
$space:        20px;
$space-medium: 30px;
$space-large:  50px;


$site-max-width: 1024px;

$main-header-height: 50px;