// first we set descriptive variables:


$yellow : #ffeb3b;
$green :  #8bc34a;
$orange : #ff9800;
$blue :   #2196f3;
$purple : #9c27b0;
$red :    #f44336;
$bloodred: #DC143C;
$black :  #000000;
$white :  #ffffff;
$darkgrey: #333333;
$lightgrey: #f8f5f0;
$greyblue:  #a3a3c2;
$greyblue_light : #f0f0f5;


/* Blue Lighter - Darker:*/

$blue-light-100   :	 #ffffff;
$blue-light-95	  :	 #e6e6ff;
$blue-light-90	  :	 #ccccff;
$blue-light-85	  :	 #b3b3ff;
$blue-light-80	  :	 #9999ff;
$blue-light-75	  :	 #8080ff;
$blue-light-70	  :	 #6666ff;
$blue-light-65	  :	 #4d4dff;
$blue-light-60	  :	 #3333ff;
$blue-light-55	  :	 #1a1aff;
$blue-light-50	  :	 #0000ff;
$blue-light-45	  :	 #0000e6;
$blue-light-40	  :	 #0000cc;
$blue-light-35	  :	 #0000b3;
$blue-light-30	  :  #000099;
$blue-light-25	  :	 #000080;
$blue-light-20	  :	 #000066;
$blue-light-15	  :	 #00004d;
$blue-light-10   	:	 #000033;
$blue-light-5	    :  #00001a;

// then we set functional variables:

$highlight_color_1: $yellow;
$highlight_color_2: $green;
$highlight_color_3: $orange;
$highlight_color_4: $blue;
$highlight_color_5: $purple;
$highlight_color_6: $red;

$header_background: $greyblue;
$issue_link : $red;
$issue_link_hover : $purple;
$table_row_odd : $greyblue_light;
$tooltip_background : $lightgrey;
$tooltip_font : $darkgrey;
$tooltip_border : $darkgrey;
$tooltip_arrow : $lightgrey;
$tooltip_arrow_border : $darkgrey;
$text_standard : $darkgrey;
