body {
  padding-top:10px;
}

.container {
    padding-left:6px;
}


.alert-info {
    background-color:#156586;

}

a {
  cursor: pointer;
}


.load-more {
  display: block;
  margin: 50px 0;
  font-size: 1.5rem;
  text-align: center;
}

@import "modules/multiselect";