/* ------------------------------------------------------------------------------------------
   DOT BLOCK
   ------------------------------------------------------------------------------------------ */
.dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background-color: $color-inactive;



  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &.dot--red    { background-color: $color-priority-high; }
  &.dot--orange { background-color: $color-priority-medium; }
  &.dot--yellow { background-color: $color-priority-normal; }
  &.dot--green  { background-color: $color-priority-low; }
}