/* ------------------------------------------------------------------------------------------
   DOT BLOCK
   ------------------------------------------------------------------------------------------ */
.dot {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background-color: $color-inactive;



  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &.dot--high   { background-color: $color-priority-high; }
  &.dot--medium { background-color: $color-priority-medium; }
  &.dot--normal { background-color: $color-priority-normal; }
  &.dot--low    { background-color: $color-priority-low; }
}