/* ------------------------------------------------------------------------------------------
   FAVOURITE BLOCK
   ------------------------------------------------------------------------------------------ */
.favourite {
  cursor: pointer;
  color: $favourite-inactive_color;



  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &.favourite--is-active {
    color: $favourite-active_color;
  }
}