/* ------------------------------------------------------------------------------------------
   FAVOURITE BLOCK
   ------------------------------------------------------------------------------------------ */
.favourite {
  cursor: pointer;
  color: $color-favourite-inactive;



  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &.favourite--is-active {
    color: $color-favourite-active;
  }
}