%form-input {
  width: 100%;
  height: $input-height;
  display: block;
  margin: 0;
  padding: $space-tiny $space-small;
  border-radius: $border-radius;
  outline: none;
  border: 1px solid $color-border;
  font: inherit;
  font-size: $font-size-small;
  line-height: ($input-height - (2 * $space-tiny));
}

/* ------------------------------------------------------------------------------------------
   FORM BLOCK
   ------------------------------------------------------------------------------------------ */
.form {

}



/* ------------------------------------------------------------------------------------------
   FORM ELEMENTS
   ------------------------------------------------------------------------------------------ */
.form__group {
  &:not(:last-of-type) {
    margin-bottom: $space;
  }
}

.form__label {
  display: block;
  margin-bottom: $space-tiny;
  font-weight: $font-weight-medium;
}

.form__input {
  @extend %form-input;


  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &.form__input--large {
    height: $input-height-large;
    padding: $space-tiny $space;
    font-size: $font-size;
    line-height: ($input-height-large - (2 * $space-tiny));
  }
}

.form__search {
  @extend %form-input;
  transition: width 200ms ease;
  transition-delay: 500ms;

  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &:focus,
  &.form__search--is-active {
    width: 300px;
    transition-delay: 0ms;
  }
}














