/* ------------------------------------------------------------------------------------------
   ICON BLOCK
   ------------------------------------------------------------------------------------------ */
.icon {
  display: inline-block;
  margin-right: $space-tiny;



  /* ------------------------------------------------------------------------------------------
     MODIFIERS
     ------------------------------------------------------------------------------------------ */
  &.icon--right {
    margin-right: 0;
    margin-left: $space-tiny;
  }
}
