/* ------------------------------------------------------------------------------------------
   MAIN HEADER BLOCK
   ------------------------------------------------------------------------------------------ */
.main-header {
  @include clearfix();

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $color-primary-lt;
  color: $color-primary-contrast;
  z-index: 999;
}



/* ------------------------------------------------------------------------------------------
   ELEMENTS
   ------------------------------------------------------------------------------------------ */
.main-header__info {
  float: left;
  margin: 0 $space;
  font-size: $font-size-small;
  line-height: $main-header-height;
}

.main-header__control-container {
  float: left;
  margin: 0 $space;

  &.main-header__control-container--right {
    float: right;
  }

  &.main-header__control-container--gap-before {
    margin-left: $space-large;
  }
}

.main-header__control {
  @include vertical-centered($main-header-height, $btn-height);
}


.with-main-header {
  margin-top: $main-header-height;
}