$size: 18px;
$size-button: 14px;
$width: (2 * $size-button);
$padding: 4px;

/* ------------------------------------------------------------------------------------------
   SWITCH BLOCK
   ------------------------------------------------------------------------------------------ */
.switch {
  display: inline-block;
  position: relative;
  font-size: $font-size-small;
  margin: (($btn-height - $size)/2) 0;
  cursor: pointer;
}



/* ------------------------------------------------------------------------------------------
   ELEMENTS
   ------------------------------------------------------------------------------------------ */
.switch__icon {
  width: $width;
  height: $size;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  outline: none;
  border-radius: $size;
  border: none;
  background: $color-switch-bg-inactive;
  background-clip: padding-box;

  &::after {
    width: $size-button;
    height: $size-button;
    display: block;
    position: absolute;
    top: ($padding / 2);
    left: ($padding / 2);
    border-radius: 100%;
    background: $color-switch-fg-inactive;
    transition: left .15s ease;
    content: "";
  }

  .switch--light & {
    background: $color-switch-light-bg-inactive;

    &::after {
      background: $color-switch-light-fg-inactive;
    }
  }
}

.switch__input {
  display: none;

  &:checked + .switch__icon {
    background: $color-switch-fg-active;

    &::after {
      left: $width - $size-button - ($padding / 2);
    }
  }

  &:active + .switch__icon {
    &::after {
      background: $color-switch-bg-active;
    }
  }

  .switch--light & {
    &:checked + .switch__icon {
      background: $color-switch-light-bg-active;
    }

    &:checked + .switch__icon {
      &::after {
        background: $color-switch-light-fg-active;
      }
    }
  }
}

.switch__label {
  padding: 0 0 0 ($width + $padding);
  line-height: $size;
}