/* ------------------------------------------------------------------------------------------
   TABLE BLOCK
   ------------------------------------------------------------------------------------------ */
.table {
  margin: 0 0 $space 0;
  border-collapse: collapse;
  font-size: $font-size;
  text-align: left;

  &.table--striped {

  }
}



/* ------------------------------------------------------------------------------------------
   ELEMENTS
   ------------------------------------------------------------------------------------------ */
.table__cell {
  padding: $space-small $space-tiny;
  border: {
    color: $color-border;
    style: solid;
    width: 0 0 1px 0;
  }
}

.table__field {
  display: block;

  &.table__field--sub-even {
    color: $color-text-light;
  }
}

.table__field-sub {
  padding-top: $space-tiny;
}

.table__header-cell {
  @extend .table__cell;

  border-top-width: 1px;
  vertical-align: top;
}

.table__header {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  text-transform: uppercase;
}

.table__body {
  font-weight: $font-weight-light;
}

.table__body-row {
  .table.table--striped &:nth-child(odd) {
    background-color: $color-table-row-odd;
  }
}

.table__body-cell {
  @extend .table__cell;

  line-height: 1.3em;
}

.table__link {
  display: block;
  cursor: pointer;
}
