/* ------------------------------------------------------------------------------------------
   GENERAL > DOCUMENT
   ------------------------------------------------------------------------------------------ */
body {
  margin-left: 7px;
  padding-top: 10px;
}



/* ------------------------------------------------------------------------------------------
   GENERAL > CONTAINERS
   ------------------------------------------------------------------------------------------ */
.header-container {
  padding-left:6px;
}