/* ------------------------------------------------------------------------------------------
   TYPOGRAPHY > HYPERLINKS
   ------------------------------------------------------------------------------------------ */
a {
  color: $text_standard;
  cursor: pointer;

  &:hover {
    color: $issue_link_hover;
  }
}

.issue_link {
  color: $red;

  &:hover {
    color: $issue_link_hover;
  }
}

.load-more {
  display: block;
  margin: 50px 0;
  font-size: 1.5rem;
  text-align: center;
}

.no-break {
  white-space: nowrap;
}