/* ------------------------------------------------------------------------------------------
   TYPOGRAPHY > GENERAL
   ------------------------------------------------------------------------------------------ */
html, body {
  font-family: $font;
  font-size: 100%;
}

.text-centered {
  text-align: center;
}

/* ------------------------------------------------------------------------------------------
   TYPOGRAPHY > HYPERLINKS
   ------------------------------------------------------------------------------------------ */
.link {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.no-break {
  white-space: nowrap;
}