/* ------------------------------------------------------------------------------------------
   MIXINGS > LAYOUT
   ------------------------------------------------------------------------------------------ */
@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin vertical-centered($container-height, $element-height) {
  margin-top: (($container-height - $element-height) / 2);
  margin-bottom: (($container-height - $element-height) / 2);
}
