.is-copyable {
  padding: 1px 3px;
  border-radius: $border-radius;
  border: 1px dashed $color-border;
  cursor: pointer;
  transition: border-color 250ms ease, color 250ms ease;

  &:hover {
    border-color: $color-primary;
    color: $color-primary;
  }
}

.is-unbreakable {
  white-space: nowrap;
}

.is-highlighted {
  &--style-1 { background-color: $color-highlight-1; }
  &--style-2 { background-color: $color-highlight-2; }
  &--style-3 { background-color: $color-highlight-3; }
  &--style-4 { background-color: $color-highlight-4; }
  &--style-5 { background-color: $color-highlight-5; }
  &--style-6 { background-color: $color-highlight-6; }
}

.text-centered {
  text-align: center;
}

.text-info {
  color: $color-text-info;
  font-size: $font-size-small;
}