/* ------------------------------------------------------------------------------------------
   HEADER FILTER FORM
   ------------------------------------------------------------------------------------------ */
.header-filter-form {
  position: absolute;
  display: none;
  padding: $space;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-radius;
  background-color: rgb(255, 255, 255);
  font-weight: $font-weight;
  text-transform: none;
  transition: display 1ms ease;
  transition-delay: 500ms;

  .table-header:hover & {
    display: block;
  }
}