/* ------------------------------------------------------------------------------------------
   HEADER FILTER FORM
   ------------------------------------------------------------------------------------------ */
.header-filter-form {
  position: absolute;
  display: none;

  .table-header:hover & {
    display: block;
  }

}