/* ------------------------------------------------------------------------------------------
   HIGHLIGHTING > HIGHLIGHTED
   ------------------------------------------------------------------------------------------ */
.highlighted {
  &.style-1 { background-color: $highlight_color_1; }
  &.style-2 { background-color: $highlight_color_2; }
  &.style-3 { background-color: $highlight_color_3; }
  &.style-4 { background-color: $highlight_color_4; }
  &.style-5 { background-color: $highlight_color_5; }
  &.style-6 { background-color: $highlight_color_6; }
}