/* ------------------------------------------------------------------------------------------
   INFO BOX
   ------------------------------------------------------------------------------------------ */
.info-box {
  width: 46px;
  position: relative;

  .icon {
    width: 46px;
    line-height: 46px;
    text-align: center;
  }

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .tooltip {
    width: 240px;
    position: absolute;
    right: 0;
    visibility: hidden;
    z-index: 900;
    margin-top: 5px;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid $tooltip_border;
    background-color: $tooltip_background;
    color: $tooltip_font;
    text-transform: none;

    &:after, &:before {
      height: 0;
      width: 0;
      position: absolute;
      bottom: 100%;
      left: calc(100% - 23px);
      border: solid transparent;
      content: " ";
      pointer-events: none;
    }

    &:after {
      margin-left: -10px;
      border-bottom-color: $tooltip_arrow;
      border-width: 10px;
    }
    &:before {
      margin-left: -11px;
      border-bottom-color: $tooltip_arrow_border;
      border-width: 11px;
    }
  }
}
