/* ------------------------------------------------------------------------------------------
   TABLE
   ------------------------------------------------------------------------------------------ */
.table {
  margin: 0 0 $space 0;
  border-collapse: collapse;
  font-size: $font-size;
  text-align: left;

  thead tr th, tbody tr td, tfoot tr td {
    padding: $space-tiny;
    border: {
      color: $color-border;
      style: solid;
      width: 0 0 1px 0;
    }
  }

  thead {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    text-transform: uppercase;

    tr {
      th {
        border-top-width: 1px;
        vertical-align: top;

        .link {
          display: block;
        }

        .sub.even {
          color: $text_light;
        }
      }
    }
  }

  tbody {
    font-weight: $font-weight-light;

    .sub.even {
      color: $text_light;
    }
  }

  &.table-striped {
    tbody tr, tfoot tr {
      &:nth-child(odd) {
        background-color: $color-table-row-odd;
      }
    }
  }
}

