/* ------------------------------------------------------------------------------------------
   FONT
   ------------------------------------------------------------------------------------------ */
$font: 'Roboto', sans-serif;

$font-size-tiny:      0.6rem;
$font-size-small:     0.75rem;
$font-size:           0.85rem;
$font-size-xmedium:   1.10rem;
$font-size-medium:    1.50rem;



$font-weight-light:   300;
$font-weight:         400;
$font-weight-medium:  500;
$font-weight-bold:    700;


/* ------------------------------------------------------------------------------------------
   INPUT / BUTTONS
   ------------------------------------------------------------------------------------------ */
$ctrl-height:         32px;
$ctrl-height-large:   40px;

$btn-height:          $ctrl-height;
$input-height:        $ctrl-height;
$input-height-large:  $ctrl-height-large;


/* ------------------------------------------------------------------------------------------
   GENERAL STYLING
   ------------------------------------------------------------------------------------------ */
$border-radius: 3px;


/* ------------------------------------------------------------------------------------------
   LAYOUT
   ------------------------------------------------------------------------------------------ */
 $space-tiny:    5px;
 $space-small:  10px;
 $space:        20px;
 $space-medium: 30px;


$site-max-width: 1024px;
